html,
body,
.full-height {
  height: 100vh;
  margin: 0;
  background-color: #300d38;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.load-container {
  height: 100vh;
}

.app-box {
  background-color: #300d38;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form-stack {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffd86f;
  border-radius: 10px;
  width: 500px;
  padding-top: 10px;
  min-height: 578px;
  min-width: 300px;
}

.form-btn-container {
  display: flex;
  justify-content: center;
}

.form-inputs {
  width: 400px;
  min-height: 500px;
  min-width: 300px;
}

@media (max-width: 500px) {
  .form-stack {
    width: 80%;
    padding: 10px;
  }

  .form-inputs {
    width: 100%;
  }
}
